.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  width: 50vmin;
  pointer-events: none;
}

.App-picture {
  padding: 1vh;
  height: max(calc(34vh));
  float: left;
  display: inline;
  border-radius: 3vh;
}

div.polaroid {
  height: max(36vh);
  min-width: 450px;
  width: max(40vw);
  background-color: rgba(128, 128, 128, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.container {
  color: black;
  text-align: center;
  padding: 1vw 1vh;
}

.App-header {
  font-family:"Sans-serif";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p {
 padding-top: 1vh;
}

ul li {
  list-style-type: none;
  position: relative;
	padding-bottom: 10px;
}

ul.a {
  list-style-type: none;
  margin-top: 1vh;
}

ul.a li:before{
  content: '';
  position: absolute;
  border-right:2px solid white;
  border-bottom:2px solid white;
  width:0.8vw;
  height:0.8vw;
  top: calc(50% - 2px);
  left: -2vw;
  transform: translateY(-50%) rotate(90deg);
}

button {
  padding: 1vh !important;
}

.textGap {
  padding-top: 1vh;
  padding-bottom: 0vh;
}

li {
  margin-top: 0.3vh;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111111;
}

/* Control the right side */
.right {
  display: inline;
  right: 0;
  background-color: #282c34;
}

.timer {
  display: inline;
  background-color: #11111171;
  padding: 4px 16px 4px 16px;
  border-radius: 10px;
  color: #af8b10;
}

#logoText {
  font-family:"Sans-serif";
  background: linear-gradient(0deg, rgba(21,36,0,0) 0%, rgba(146,149,16,1) 35%, rgba(0,255,214,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.xlgText {
  font-size: 8vh;
}

.lgText {
  font-size: 4vh;
  text-align: center;
}

.smText {
  font-size: 2vh;
  color: gold;
}

#clock {
  font-family:"Sans-serif";
  background: linear-gradient(0deg, rgba(21,36,0,0) 0%, rgba(146,149,16,1) 35%, rgba(0,255,214,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

:root {
  overflow: hidden; /* hides any part of the sun below the horizon */
  background-color: lightblue;
  display: flex;
  justify-content: center; /* centers the sun in the background */
}

.animation {
  animation: 10s linear 4s infinite alternate krotation;
}

@keyframes krotation {
  50% { transform: scale(2.5); }
  100% { transform: scale(1); }
}

.tab-nav {
  overflow-x: scroll;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.tab-list::-webkit-scrollbar {
  display: none;
}

.tab-list {
  width: fit-content;
  min-width: 100%;
  display: flex;
  gap: .5em;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #eee;
  color: #888;
}
.tab-list li {
  display: block;
  margin-bottom: -2px;
}

.tab-btn {
  font: inherit;
  padding: 0.75em 0.5em 0.75em 0.5em;
  background-color: transparent;
  border: 2px solid var(--tab-border-color);
  border-width: 0 0 2px;
  cursor: pointer;
  color: inherit;
  white-space: nowrap;
}

.tab-btn:not(.tab-btn--active):hover {
  color: var(--site-text-color);
}

.tab-btn--active {
  color: gold;
  border-color: var(--tab-text-color--highlight);
}

.tab-panel {
  margin-top: 1em;
  padding: 1em;
  background-color: var(--tab-panel-bg-color);
  border-radius: .5em;
}

.stopwatch-controls-container button {
  margin: 15px;
  border: none;
  background-color: #e5ad3d;
  padding: 3px 12px;
  font-size: 1.3rem;
  font-weight: 400;
  cursor: pointer;
}

.stopwatch-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}